body {
	font-family: Arial,Helvetica,sans-serif;
	font-color: #222;
}
#main {
	padding-right: 450px;
}
#workflow {
	width: 100%;
}
#controls {
	width: 450px;
	margin-right: -450px;
}
#controls .yui3-accordion-item-hd {
	font-weight: bold;
}
#controls .yui3-accordion-item-bd {
	overflow: auto;
	max-height: 400px;
	overflow: auto;
}

#mappings table {
	border: none;
}
