#main {
	font-family: Arial,Helvetica,sans-serif;
	font-color: #222;
	font-size: 12px;
	padding: 20px 0;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h3 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

/* vocabulary list */

#vocabularies {
	float:left;
	height:500px;
	width:150px;
	border-width: 1px;
	border-style: solid;
	border-color: #C5C5C5 #B9B9B9 #B2B2B2;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#vocabularies .target-select {
	overflow: auto;
	border-bottom: 1px solid #C5C5C5;
}
#vocabularies #target-select,
#vocabularies #source-select {
	float: left;
	width: 73px;
	text-align: center;
	padding: 4px 0;
}
#vocabularies #source-select.selected,
#vocabularies ul li.source,
#source .yui3-columnbrowser-content,
#source .yui3-columnbrowser .column.active .selected {
	background-color: #66A1D2;
}
#vocabularies #source-select a,
#source-concept a {
	color: #66A1D2;
}
#vocabularies #target-select.selected,
#vocabularies ul li.target,
#target .yui3-columnbrowser-content,
#target .yui3-columnbrowser .column.active .selected {
	background-color: #0B5FA5;
}
#vocabularies #target-select a,
#target-concept a {
	color: #0B5FA5;
}
#vocabularies #source-select.selected a,
#vocabularies ul li.source a,
#vocabularies #target-select.selected a,
#vocabularies ul li.target a {
	color: #FFF;
}
#vocabularies #target-select,
#vocabularies #source-select {
/*	border-width: 1px;
	border-color: #DDD;
	border-style: solid;*/
}
#vocabularies .hd {
	background-color: #DDD;
	padding: 5px;
	border-bottom: 1px solid #b9b9b9;
}
#vocabularies h4 {
	margin: 5px 4px 0;
}
#vocabularies a {
	text-decoration: none;
	color: #222;
}
#vocabularies ul {
	margin: 0 0 5px;
	padding: 0;
}
#vocabularies ul li {
	list-style: none;
	padding: 3px 10px;
	margin: 1px 0;
}

/* column browsers */
#browsers {
	padding-left: 160px;
}

.yui3-columnbrowser-hidden {
	display: none;
}
.yui3-columnbrowser .hidden {
	display: none;
}
.yui3-columnbrowser .loading {
	padding-top: 20px;
	background: url(loading.gif) no-repeat center center
}
.yui3-columnbrowser-content {
	border-width: 1px;
	border-style: solid;
	border-color: #CCC;
	border-color: #C5C5C5 #B9B9B9 #B2B2B2;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.yui3-columnbrowser .hd {
	padding-top: 5px;
	border-bottom: 1px solid #b9b9b9;
}
.yui3-columnbrowser .hd .title {
	background-color: #FFF;
	padding: 2px 5px 5px;
}
.yui3-columnbrowser .columns-box {
	height: 200px;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 5px;
	background-color: #FFF;
}
.yui3-columnbrowser .columns-box.noscroll {
	overflow-x: hidden;
}
.yui3-columnbrowser .columns {
	height: 100%;
}

.yui3-columnbrowser .ft {
	padding-top: 4px;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: #E5E5E5;
	text-align: center;
}
.yui3-columnbrowser .column {
	float: left;
	height: 100%;
	padding-right: 5px;
}
.yui3-columnbrowser .columns .yui3-resourcelist {
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	min-width: 15px;
}
.yui3-columnbrowser .yui3-resourcelist-content ul {
	padding: 2px 0;
	margin: 0;
}
.yui3-columnbrowser .resourcelist-item {
	padding: 3px 5px 2px;
	cursor: pointer;
	overflow: hidden;
}
.yui3-columnbrowser .resourcelist-item .more {
	float: right;
}
.yui3-columnbrowser .resourcelist-item.selected {
	background-color: #DDD;
}
.yui3-columnbrowser .column.active .resourcelist-item.selected {
	color: #FFF;
}
.yui3-columnbrowser .pagination {
	border-color:#CCCCCC;
	border-style:solid;
	border-width:1px 0 0;
	text-align:center;
}
.yui3-columnbrowser .pagination .page-label {
	padding: 0 10px;
}
.yui3-columnbrowser .pagination a.disabled {
	color: #CCC;
}

.yui3-columnbrowser .search,
.yui3-columnbrowser select {
	border-color:#E5E5E5;
	border-style:solid;
	border-width:0 0 1px;
}
.yui3-columnbrowser .search {
	padding: 0 2px
}
.yui3-columnbrowser select {
	width: 100%;
}
.yui3-columnbrowser .search input {
	width: 100%;
	border: none;
	background: url("search_bg_enabled.png") no-repeat right 60% #FFFFFF;
}

#equalizer {
	height: 112px;
	margin: 10px 0;
	width: 100%;
}
#align {
	float: left;
	width: 10%;
	padding-top: 45px;
	text-align: center;
}
#equalizer .infobox {
	height: 100px;
	padding: 5px;
	border: 1px solid #CCCCCC;
}
#source-concept {
	float: left;
	width: 45%;
}
#target-concept {
	float: right;
	width: 45%;
}
#equalizer .h3 {
	margin: 0;
}

#equalizer .aligned .infobox {
	border-color: #008209;
	border-width: 3px;
}