#content {
	font-family: Arial,Helvetica,sans-serif;
	font-color: #222;
	font-size: 12px;
}
#content a {
	color: #3875D7;
	text-decoration: none;
}
#content a:hover {
	text-decoration: underline;
}

.yui3-columnbrowser .hidden {
	display: none;
}
.yui3-columnbrowser .loading {
	padding-top: 20px;
	background: url(loading.gif) no-repeat center center
}
.yui3-columnbrowser .hd {
	height: 7em;
	padding: 0.5em;
	background-color: #EEE;
}
.yui3-columnbrowser .hd .title {
	height: 100%;
}
.yui3-columnbrowser .infobox {
	height: 100%;
	text-align: left;
	overflow: auto;
}
.yui3-columnbrowser .infobox h3 {
	font-size: 1.2em;
	margin: 0;
}
.yui3-columnbrowser .infobox h3 .altlabels {
	font-weight: normal;
}
.yui3-columnbrowser .infobox .uri {
	font-size: 0.9em;
}
.yui3-columnbrowser .infobox .related {
	margin-top: 0.5em;
}
.yui3-columnbrowser .infobox .desc {
	margin-top: 0.5em;
}
.yui3-columnbrowser .infobox .amalgame {
	font-size: 0.9em;
}

.yui3-columnbrowser .hd .controls {
	height: 7em;
}
.yui3-columnbrowser .bd {
	border-width: 1px 0;
	border-style: solid;
	border-color: #CCC;
}
.yui3-columnbrowser .columns-box {
	height: 300px;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 5px;
}
.yui3-columnbrowser .columns-box.noscroll {
	overflow-x: hidden;
}
.yui3-columnbrowser .columns {
	height: 100%;
}

.yui3-columnbrowser .ft {
	height: 1em;
	padding: 5px;
	text-align: center;
}
.yui3-columnbrowser .column {
	float: left;
	height: 100%;
	padding-right: 5px;
}
.yui3-columnbrowser .columns .yui3-resourcelist {
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	min-width: 15px;
}
.yui3-columnbrowser .yui3-resourcelist-content ul {
	padding: 2px 0;
	margin: 0;
}
.yui3-columnbrowser .resourcelist-item {
	padding: 3px 5px 2px;
	cursor: pointer;
	overflow: hidden;
}
.yui3-columnbrowser .resourcelist-item .more {
	float: right;
}
.yui3-columnbrowser .resourcelist-item.selected {
	background-color: #DDD;
}
.yui3-columnbrowser .column.active .resourcelist-item.selected {
	background-color: #3875D7;
	color: #FFF;
}
.yui3-columnbrowser .pagination {
	border-color:#CCCCCC;
	border-style:solid;
	border-width:1px 0 0;
	text-align:center;
}
.yui3-columnbrowser .pagination .page-label {
	padding: 0 10px;
}
.yui3-columnbrowser .pagination a.disabled {
	color: #CCC;
}

.yui3-columnbrowser .search,
.yui3-columnbrowser select {
	border-color:#CCC;
	border-style:solid;
	border-width:0 0 1px;
}
.yui3-columnbrowser .search {
	padding: 0 2px
}
.yui3-columnbrowser select {
	width: 100%;
}
.yui3-columnbrowser .search input {
	width: 100%;
	border: none;
	background: url("search_bg_enabled.png") no-repeat right 60% #FFFFFF;
}