html {
	background-color: #FFF;
}
body {
	font-family: arial;
	font-size: 85%;
}
.content {
	float: left;
	width: 500px;
	margin: 0 auto;
}
.resource-info {
	float: left;
	width: 240px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #7F7F7F;
}
#sourcetree,
#targettree {
}
#paginator {
	clear: both;
}
.yui3-paginator {
	text-align: center;
}

/* datatable */
.yui3-datatable { 
	margin: 0;
}
.yui3-datatable table {
	width: 100%;
}
.yui3-datatable caption {
	display: none;
}
.yui3-datatable td {
	cursor: pointer;
	vertical-align: top;
}
.yui3-datatable td:first-child,
.yui3-datatable td:last-child {
	width: 40%;
}
#mappingview .yui3-datatable-selected td {
}
.yui3-datatable td .activerelations {
	text-align: center;
}
.yui3-datatable td .otherrelations {
	display: none;
}
.yui3-datatable-selected td .activerelations {
	padding-bottom: 60px;
}
.yui3-datatable-selected td .otherrelations {
 	background-color: #EDF5FF;
    border: 1px solid #666666;
    color: #222222;
    display: block;
    height: 44px;
    margin-left: -192px;
    margin-top: -54px;
    padding: 2px 4px 4px;
    position: absolute;
    width: 455px;
}
.yui3-datatable-selected td .commentbox {
	padding-top: 6px;
}
.yui3-datatable-selected td .comment {
	width: 70%;
}

/* resource info */
.resource-info-content {
	padding: 6px 12px;
	margin-bottom: 6px;
}
.resource-info .label {
	font-size: 130%;
}
.resource-info .uri a {
	font-size: 85%;
	color: #666;
}
.resource-info .hd {
	padding-top: 8px;
	border-bottom: 1px solid #E2E2E2;
}
.resource-info .bd {
	padding: 2px 4px;
}
.resource-info .definition,
.resource-info .scope {
	color: #666;
	font-size: 90%;
}

.resource-info ul {
	margin: 0;
	padding: 0 0 0 12px;
}
.resource-info li,
.resource-info li {
	list-style: none;
	padding: 2px 0;
}
.resource-info a {
	color: #222;
	text-decoration: none;
}
.resource-info a:hover {
	text-decoration: underline;
}
.resource-info li.hit {
	font-weight: bold;
}
.resource-info .moretoggle {
	color: #666;
	font-size: 90%;
	cursor: pointer;
}
.resource-info .hidden {
	display: none;
}