/* main layout */
#main {
	margin: 0 10px;
}
#mappings {
	width: 25em;
}

/* mapping list */
.yui3-mappinglist-content {
	border: 1px solid #808080;
}
.yui3-mappinglist .hd {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 transparent;
    padding: 5px;
}
.yui3-mappinglist li {
	padding: 2px 4px;
}
.yui3-mappinglist li a {
	text-decoration: none;
	color: #222;
}

.diag { color: green; }
#agreement {
  margin-left: 0px;
}
#agreement td {
 padding: .2em;
}
#encoding, #cm {
}
#encoding {
}
.box {
    border: 1px solid #808080;
    margin-bottom: 15px;
}
.box .hd {
    background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 transparent;
    padding: 5px;
}
