/* main layout */
#header {
	position: fixed;
	width: 100%;
	background-color: white;
}
#main {
	margin: 0 10px;
	padding-top: 30px;
}
#opm {
	padding-left: 360px;
}
#controls {
	position: fixed;
	left: 10px;
	top: 35px;
	width: 350px;
	height: 95%;
	overflow-y: scroll;
	background-color: white;
}
/* controls */
#controls .module-list {
	border-width: 0;
}
#controls .module-list .yui3-accordion-item-hd {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 transparent;
	line-height: 1.4em;
}
#controls .module-list .yui3-accordion-item {
	border-top: 1px dotted #808080;
	border-bottom: 0;
}
#controls .yui3-accordion-item-active .yui3-accordion-item-trigger {
	background-position: 105% -398px;
}
#controls .yui3-accordion-item-trigger {
	background-position: 105% -348px;
}
#controls .yui3-accordion-item-bd .desc,
#controls .yui3-accordion-item-bd form,
#controls .yui3-accordion-item-bd .control-buttons {
	padding: 5px 10px;
}
#controls .control.disabled {
	display: none;
}
#controls .c {
	margin: 0 10px;
	padding: 5px 0;
}
#controls .i {
	border-top: 1px solid #CCC;
	padding: 10px 0;
}
#controls table {
	width: 100%;
}
#controls th {
	vertical-align: top;
	white-space: nowrap;
	padding-right: 10px;
}
#controls .control-buttons {
	text-align: right;
}
.mappingselect {
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 5px;
    margin-bottom: 5px;
	max-height: 150px;
    overflow: auto;
}
#controls textarea {
	width: 97%;
}

/* control set */
.control-set {
	margin-bottom: 10px;
	border-width: 1px 1px;
	border-style: solid;
	border-color: #808080;
}
.control-set .hd {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -200px transparent;
	line-height: 1.8em;
	padding: 5px 10px 5px 0;
}
.control-set .hd .trigger {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") no-repeat scroll 108% -345px transparent;
    color: #000000;
    cursor: default;
    display: block;
    padding: 0 5px 0 10px;
    text-decoration: none;
    width: auto;
}
.control-set.active .hd .trigger {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") no-repeat scroll 108% -395px transparent;
}
.control-set .bd {
	display: none;
}
.control-set.active .bd {
	display: block;
}

/* infobox */
#info {
}
#info .loading {
	padding: 20px 0;
	background: url("loading.gif") no-repeat 50% 50%;
}
#info .hidden {
	display: none;
}
#infocontent {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
#info .parameters {
	border-top: 1px solid #CCC;
	margin-top: 5px;
	padding-top: 5px;
}
#details td {
	padding-bottom: 4px;
}

/* select */
#select li {
	list-style: disc inside;
}

/* align */
#inputselect {
	padding: 5px 10px;
}

/* opm graph */
.yui3-opmviz {
	padding: 5px 5px 15px;
}
.yui3-opmviz .selected text {
	font-weight: bold;
}
.yui3-opmviz .selected text.info {
	font-weight: normal;
}
.yui3-opmviz .selected ellipse,
.yui3-opmviz .selected polygon {
	/*fill: #DBEAFF;*/
	stroke-width: 3px;
}

img.explain {
	background-color: white;
	border: 1pt black solid;
	    }

#exec_hint
{
 color: #0000EE; /* link color */
}
#exec_hint:hover
{
 cursor: pointer;
}
