/* main layout */
#content {
	margin: 0 10px;
	padding-left: 210px;
}
#left {
	width: 200px;
	margin-right: 10px;
	margin-left: -210px;
}
#main {
	width: 100%;
	
}

/* mapping list */
.yui3-mappinglist-content {
	border: 1px solid #808080;
}
.yui3-mappinglist .hd {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 transparent;
    padding: 5px;
}
.yui3-mappinglist li {
	padding: 2px 4px;
}
.yui3-mappinglist li.selected {
	background-color: #3875D7;
}
.yui3-mappinglist li a {
	text-decoration: none;
	color: #222;
}
.yui3-mappinglist li.selected a {
	color: white;
}

/* mapping table */
.yui3-datatable { 
	margin: 0;
}
.yui3-datatable table {
	width: 100%;
}
.yui3-datatable caption {
	display: none;
}
.yui3-datatable th {
	text-align: center;
}
.yui3-datatable td {
	cursor: pointer;
	vertical-align: top;
}
.yui3-datatable-selected {
	background-color: #3875D7;
	color: white;
}
.yui3-datatable td:first-child,
.yui3-datatable td:last-child {
	width: 40%;
}
.yui3-datatable td .relation {
	text-align: center;
}
.paginator {
	text-align: center;
}

/* resource info*/
/* resource info */
.resource-info-content {
	padding: 6px 12px;
	margin-bottom: 6px;
}
.resource-info .label {
	font-size: 130%;
}
.resource-info .uri a {
	font-size: 85%;
	color: #666;
}
.resource-info .hd {
	padding-top: 8px;
	border-bottom: 1px solid #E2E2E2;
}
.resource-info .bd {
	padding: 2px 4px;
}
.resource-info .definition,
.resource-info .scope {
	color: #666;
	font-size: 90%;
}

.resource-info ul {
	margin: 0;
	padding: 0 0 0 12px;
}
.resource-info li,
.resource-info li {
	list-style: none;
	padding: 2px 0;
}
.resource-info a {
	color: #222;
	text-decoration: none;
}
.resource-info a:hover {
	text-decoration: underline;
}
.resource-info li.hit {
	font-weight: bold;
}
.resource-info .moretoggle {
	color: #666;
	font-size: 90%;
	cursor: pointer;
}
.resource-info .hidden {
	display: none;
}

/* overlay */
#detail {
	border: 2px solid #CCCCCC;
	background-color: #FFF;
	opacity: 0.6;
}
#detail .yui3-widget-hd {
	border-bottom: 1px solid #CCC;
    padding: 5px 10px;
	text-align: center;
	opacity: 1;
}
#detail .yui3-widget-bd {
	
	padding: 5px 10px;
}
#detail .yui3-widget-ft {
	border-bottom: 1px solid #CCC;
    padding: 5px 10px;
	text-align: right;
	opacity: 1;
}
#relations li {
	list-style: none;
	display: inline;
	padding: 0 5px;
}
#relations label {
	padding-left: 2px;
}
.controls {
}