body {
    	margin: .5%;
	color: #202020;
	font-family: Arial;
}

#sidebar { position: fixed; }
#search_form { position: fixed; right: 0.5em; }

div.ag_search {
	background-image: url(/icons/econnect-logo-big.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 5% 0% 0% 5%;
	min-height: 425px;
}

.ag_search #search_form {
	/* override fixed/float right from the other pages: */
	position: relative;
	right: auto;
	float: none;

	/* new position: */
	padding: 5% 0% 5% 35%;
}

.zag_search #content { padding: 0% 0% 15% 24%; }
.ag_search #content table  { margin: 0% 0% 5% 35%; }
.ag_search #content p.error  { margin: 0% 0% 5% 35%; }
.ag_search .logo { display: none }
.ag_search .ag_voc_actions { display: none }
.ag_search table .example { display: none }
.ag_search table .preflabels { display: none }
.ag_search table .altlabels { display: none }
.ag_search table .notmapped { display: none }
.ag_search table .mapped, { display: none }
.ag_search table .pmapped { display: none }
.ag_search table .nr { display: none }
.ag_search table .DerivedConceptScheme { display: none }

.ag_search .backoffice { 
	font-size: smaller;
	margin-top: -1em;
}
a {
	color: #E2003B;
	text-decoration: none;
}
#nav li a {
	color: #E2003B;
	cursor: pointer;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;

}

table a {
	color: #2B477F;
}

a:hover {
	color: #2B477F;
	text-decoration: underline;
}

table {
	margin: 1%;
	border-style: solid;
	border-width: thin;
	border-color: #BBBBBB;
	border-collapse: collapse;
	background-color: white;
}

tr.finalrow {
	border-top: solid thin #BBBBBB;
	font-style: italic;
}

address#amalgame {
        color: #3B5998;
	letter-spacing: 1px;
	font-size: 0.8em;
	text-align: right;
}


th, table.rdf_browse th {
 	font-family: Arial, sans-serif;
 	font-style: italic;
 	font-weight: normal;
	background-color: #E7E7E7;
	color: #020202;
	/*
	 * background-color: #E2003B;
       	 * color: white;
	 */
}

#alignoperations form input.submit {
	width: 8em;
}

#alignoperations form input.target {
}

#ag_graph_info { float: right; max-width: 35%; }
#ag_graph_as_resource { float: left; max-width: 65%; }

/* Created a fixed, small, abbreviated alignlist as a legend for overlap list: */
div.overlaplist { max-width: 73%; }
div.alignlist table { width: 100%; }
div.alignlist { position: fixed; top: 4em; right: 0.5em; width: 25%; font-size: 0.7em; background-color: white}
div.alignlist td.graph div { text-align:right; overflow: hidden; height: 1.4em; }
div.alignlist td.graph div a { float: right; width:300%; text-align: right}
div.alignlist .cachenote { display: none }
div.alignlist td.format { display: none }
div.alignlist th.format { display: none }
div.alignlist td.src { display: none }
div.alignlist th.src { display: none }
div.alignlist td.target { display: none }
div.alignlist th.target { display: none }
div.alignlist td.src_mapped { display: none }
div.alignlist th.src_mapped { display: none }
div.alignlist td.target_mapped { display: none }
div.alignlist th.target_mapped { display: none }
