/* main layout */
body {
	padding: 0;
	margin: 0;
	background-color: #FFF;
	overflow: hidden;
}
#layout {
	padding: 6px 6px 6px 362px;
	background-color: #C2C2C2;
}
#controls {
	margin-left: -356px;
	margin-right: 6px;
	width: 350px;
}
#controls .content {
	border: 1px solid #808080;
	overflow: auto;
	background-color: #FFF;
	height: 100%;
}
#main {
	width: 100%;
}
#graph {	
	height: 500px;
}
#graph .content {
	border: 1px solid #808080;
	background-color: #FFF;
	overflow: auto;
	height: 100%;
	text-align: center;
}
#bottom {
	height: 100px;
	width: 100%;
	margin-top: 10px;
}
#bottom .content {
	border: 1px solid #808080;
	background-color: #FFF;
	overflow: auto;
	height: 100%;
}
#layout .yui3-resize-handle-b {
	bottom: -10px;
}


/* controls */
#controls .module-list {
	border-width: 0;
}
#controls .module-list .yui3-accordion-item-hd {
	/*background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -1300px transparent;*/
	line-height: 1.3em;
}
#controls .module-list .yui3-accordion-item {
	border-top: 1px dotted #CCC;
	border-bottom: 0;
}
#controls .yui3-accordion-item-active .yui3-accordion-item-trigger {
	background-position: 105% -398px;
}
#controls .yui3-accordion-item-trigger {
	background-position: 105% -348px;
}
#controls .yui3-accordion-item-bd .desc,
#controls .yui3-accordion-item-bd form,
#controls .yui3-accordion-item-bd .control-buttons {
	padding: 5px 10px;
}
#controls .control.disabled {
	display: none;
}
#controls .c {
	margin: 0 10px;
	padding: 5px 0;
}
#controls .i {
	border-top: 1px solid #CCC;
	padding: 10px 0;
}
#controls table {
	width: 100%;
}
#controls th {
	vertical-align: top;
	white-space: nowrap;
	padding-right: 10px;
}
#controls .control-buttons {
	text-align: right;
}
.mappingselect {
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 5px;
    margin-bottom: 5px;
	max-height: 150px;
    overflow: auto;
}
#controls textarea {
	width: 97%;
}

/* control set */
.control-set {
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #BBB;
}
.control-set .hd {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -1500px transparent;
	line-height: 1.4em;
	padding: 5px 10px 5px 0;
}
.control-set .hd .trigger {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") no-repeat scroll 108% -347px transparent;
    color: #222;
	font-weight: bold;
    cursor: default;
    display: block;
    padding: 0 5px 0 10px;
    text-decoration: none;
    width: auto;
}
.control-set.active .hd .trigger {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") no-repeat scroll 108% -397px transparent;
}
.control-set .bd {
	display: none;
}
.control-set.active .bd {
	display: block;
}

/* infobox */
#info {
}
#info .loading {
	padding: 20px 0;
	background: url("loading.gif") no-repeat 50% 50%;
}
#info .hidden {
	display: none;
}
#infocontent,
#info .loading {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}
#info .parameters {
	border-top: 1px solid #CCC;
	margin-top: 5px;
	padding-top: 5px;
}
#details td {
	padding-bottom: 4px;
}

/* select */
#select li {
	list-style: disc inside;
}

/* align */
#inputselect {
	padding: 5px 10px;
}

/* strategy graph */
.yui3-strategy_viz {
	padding: 5px 5px 15px;
}
.yui3-strategy_viz .edge text {
	font-size: 11px;
}
.yui3-strategy_viz .selected text {
	font-weight: bold;
}
.yui3-strategy_viz .info,
.yui3-strategy_viz .selected .info {
	font-weight: normal;
	font-size: 9px;
}
.yui3-strategy_viz .selected ellipse,
.yui3-strategy_viz .selected polygon {
	/*fill: #DBEAFF;*/
	stroke-width: 3px;
}

img.explain {
	background-color: white;
	border: 1pt black solid;
	    }
#hint 
{
	background-color: #FFFFE2;
}
#exec_hint
{
 color: #0000EE; /* link color */
}
#exec_hint:hover
{
 cursor: pointer;
}


/* mapping table */
#mappingtable.hidden {
	display: none;
}
#mappingtable .table.hidden,
#mappingtable .loading.hidden {
	display:none;
}
#mappingtable .loading {
	padding: 20px 0;
	background: url("loading.gif") no-repeat 50% 50%;
}
.yui3-datatable { 
	margin: 0;
}
.yui3-datatable table {
	width: 100%;
}
.yui3-datatable caption {
	display: none;
}
.yui3-datatable th {
	text-align: center;
}
.yui3-datatable td {
	cursor: pointer;
	vertical-align: top;
}
.yui3-datatable-selected {
	color: #3875D7;
	background-color: white; /* background does not seem to work in new datatable */
}
.yui3-datatable td:first-child,
.yui3-datatable td:last-child {
	width: 40%;
}
.yui3-datatable td .relation {
	text-align: center;
}
.paginator {
	text-align: center;
}

/* overlay */
#detail {
	border: 1px solid #444;
	background-color: #DDD;
}
#detail.hidden {
	display: none;
}
#detail .yui3-widget-hd {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -1400px transparent;
	line-height:1.4em;
	padding: 5px;
	text-align: center;
	color: white;
	font-weight: bold;
}	
#detail .yui3-widget-bd {
	margin: 5px;
}
#detail .yui3-widget-ft {
	margin: 5px;
}
#detail .relations {
	display: none;
}
#detail .options {
	display: none;
}
#detail .buttons {
	text-align: right;
	padding: 5px;
}
#detail .buttons .submit {
	display: none;
}
#detail .oquote,
#detail .cquote {
	display: none;
}
#detail .l_lang,
#detail .lang {
	color: #777;
}

.resource-info {
	height: 250px;
    padding: 5px;
	overflow-y: scroll;
	border: 1px solid #888;
	background-color: #FFF;
}
.resource-info .label {
	font-size: 130%;
}
.resource-info .uri a {
	font-size: 85%;
}
.resource-info .hd {
	padding-top: 8px;
}
.resource-info .bd {
	padding: 2px 4px;
}
.resource-info .definition,
.resource-info .scope .bd {
	color: #666;
	font-size: 90%;
}

.resource-info ul {
	margin: 0;
	padding: 0 0 0 12px;
}
.resource-info li,
.resource-info li {
	list-style: none;
	padding: 2px 0;
}
.resource-info a {
	color: #222;
	text-decoration: none;
}
.resource-info a:hover {
	text-decoration: underline;
}
.resource-info li.hit {
	font-weight: bold;
}
.resource-info .moretoggle {
	color: #666;
	font-size: 90%;
	cursor: pointer;
}
.resource-info .hidden {
	display: none;
}

.evidence {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #888;
    background-color: white;
}
.evidence .method {
	padding-left: 5px;
}	
.evidence .source {
	text-align: right;
}
.evidence .target {
	text-align: left;
}
.evidence .source object,
.evidence .target object {
}

/* vocabulary browser */
#vocabularybrowser {
	height: 100%;
}
#vocabularybrowser.hidden {
	display: none;
}
#vocabularybrowser .header {
}
#vocabularybrowser .header .title-box {
	padding: 4px;
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -1500px transparent;
	cursor: pointer;
}
#vocabularybrowser .header .title {
	font-weight: bold;
}
#vocabularybrowser .header .mapping-select {
	background-color: #EAEAEA;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px;
}
#vocabularybrowser .header .mapping-select.hidden {
	display: none;
}
#vocabularybrowser .header .mappings {
	display: inline;
}
#vocabularybrowser .header .mappings li {
	display: inline;
	padding: 0 4px;
}
#vocabularybrowser .header .mappings li span {
	padding-left: 2px;
}
#vocabularybrowser .yui3-columnbrowser {
	height: 90%;
	border: none;
}
.yui3-columnbrowser .resourcelist-item.mapped .resourcelist-item-value {
	font-weight: bold;	
}
