/* controls */
#controls .module-list {
	border-width: 0;
}
#controls .module-list .yui3-accordion-item-hd {
	/*background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -1300px transparent;*/
	line-height: 1.3em;
}
#controls .module-list .yui3-accordion-item {
	border-top: 1px dotted #CCC;
	border-bottom: 0;
}
#controls .yui3-accordion-item-active .yui3-accordion-item-trigger {
	background-position: 105% -398px;
}
#controls .yui3-accordion-item-trigger {
	background-position: 105% -348px;
}
#controls .yui3-accordion-item-bd .desc,
#controls .yui3-accordion-item-bd form,
#controls .yui3-accordion-item-bd .control-buttons {
	padding: 5px 10px;
}
#controls .control.disabled {
	display: none;
}
#controls .c {
	margin: 0 10px;
	padding: 5px 0;
}
#controls .i {
	border-top: 1px solid #CCC;
	padding: 10px 0;
}

#controls .control-buttons {
	text-align: right;
}
#controls textarea {
	width: 97%;
}

/* control set */
.control-set {
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #BBB;
}
.control-set .hd {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -1500px transparent;
	line-height: 1.4em;
	padding: 5px 10px 5px 0;
}
.control-set .hd .trigger {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") no-repeat scroll 108% -347px transparent;
    color: #222;
	font-weight: bold;
    cursor: default;
    display: block;
    padding: 0 5px 0 10px;
    text-decoration: none;
    width: auto;
}
.control-set.active .hd .trigger {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") no-repeat scroll 108% -397px transparent;
}
.control-set .bd {
	display: none;
}
.control-set.active .bd {
	display: block;
}
