/* main layout */
#content {
	margin: .5em;
	padding-left: 27.5em;
}
#left {
	width: 25em;
	margin-left: -27.5em;
	margin-right: 1em;
}
#main {
	width: 100%;
	
}

/* sidebar box */
.box {
	border: 1px solid #808080;
	margin-bottom: 15px;
}
.box .hd {
	background: url("http://yui.yahooapis.com/3.0.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 transparent;
	padding: 5px;
}
.box .bd {
	padding: 2px 4px;
}

/* mapping list */
.yui3-mappinglist td {
	        padding: .2em;
	}
.yui3-mappinglist table.mappinglist {
	width: 100%;
}
.yui3-mappinglist .src_mapped , .mappinglist .target_mapped, .mappinglist .nr_of_mappings {
	text-align: right;
}
.yui3-mappinglist li {
	padding: 2px 4px;
}
.yui3-mappinglist tr.selected {
	background-color: #3875D7;
}
.yui3-mappinglist tr a {
	text-decoration: none;
	color: #222;
}
.yui3-mappinglist tr.selected a {
	color: white;
}

/* mapping info */
#mappinginfo {
	padding: 5px;
}
#mappinginfo td {
	padding: 2px;
	overflow: hide;
}
#mappinginfo th {
	white-space: nowrap;
	font-size: 0.9em;
}

/* mapping table */
.yui3-datatable { 
	margin: 0;
}
.yui3-datatable table {
	width: 100%;
}
.yui3-datatable caption {
	display: none;
}
.yui3-datatable th {
	text-align: center;
}
.yui3-datatable td {
	cursor: pointer;
	vertical-align: top;
}
.yui3-datatable-selected {
	color: #3875D7;
	background-color: white;
}
.yui3-datatable td:first-child,
.yui3-datatable td:last-child {
	width: 40%;
}
.yui3-datatable td .relation {
	text-align: center;
}
.paginator {
	text-align: center;
}

/* detail view */
#detail {
	border: 1px solid #444;
	background-color: #DDD;
}
#detail .yui3-widget-bd {
	margin: 5px;
}
#detail .yui3-widget-ft {
	margin: 5px;
}
#detail .manualfixes {
	display: block;
	padding: 5px;
}
#detail .manualfixes .relations {
	display: inline-block;
	text-align: center;
}
#detail .manualfixes .comment {
	display: inline-block;
	text-align: center;
	width: 100%;
}
#detail .options {
	text-align: right;
}
#detail .buttons {
	text-align: right;
	padding: 5px;
}
#detail .oquote,
#detail .cquote {
	display: none;
}
#detail .l_lang,
#detail .lang {
	color: #777;
}
#detail .relation {
	padding: 0 5px;
}
#detail .relation label {
	padding-left: 2px;
}
#detail .comment input {
	width: 400px;
}
.resource-info {
	height: 250px;
    padding: 5px;
	overflow-y: scroll;
	border: 1px solid #888;
	background-color: #FFF;
}
.resource-info .label {
	font-size: 130%;
}
.resource-info .uri a {
	font-size: 85%;
}
.resource-info .hd {
	padding-top: 8px;
}
.resource-info .bd {
	padding: 2px 4px;
}
.resource-info .definition,
.resource-info .scope .bd {
	color: #666;
	font-size: 90%;
}

.resource-info ul {
	margin: 0;
	padding: 0 0 0 12px;
}
.resource-info li,
.resource-info li {
	list-style: none;
	padding: 2px 0;
}
.resource-info a {
	color: #222;
	text-decoration: none;
}
.resource-info a:hover {
	text-decoration: underline;
}
.resource-info li.hit {
	font-weight: bold;
}
.resource-info .moretoggle {
	color: #666;
	font-size: 90%;
	cursor: pointer;
}
.resource-info .hidden {
	display: none;
}
.evidences {
    overflow: auto;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #888;
}
.evidence {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #888;
    background-color: white;
}
.evidence .method {
	padding-left: 5px;
}	
.evidence .source {
	text-align: left;
}
.evidence .target {
	text-align: right;
}
.evidence .source object,
.evidence .target object {
	width: 95%;
}

/* autocomplete */

/* FIXME: neutralize bad spacing inherited from .yui3-g */
.yui3-aclist, 
.yui3-overlay {
	word-spacing: normal;
	letter-spacing: normal;
}

.yui3-overlay {
	padding: 10px;
	background-color: white;
	border: solid gray 1pt;
	position: absolute;
	width: 400px;
	z-index: 1;
}
.yui3-overlay .altLabel {
	color: gray;
	font-size: 0.8em;
	padding-right: 0.5em;
}
.yui3-overlay .altLabel:after {
	content: ";"
}
.yui3-overlay img.depiction {
	max-width: 100%;
}

